body{
    background-image: url(../images/formbg.jpg);
    background-size: cover;
}
form{
    width: 460px;
    margin: auto;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: 20px;
}
input[type=number]{
    background-color: #C4C4C4 !important;
    border: none;
}
input[type=submit]{
    margin-top: 20px;
    background-color: orangered !important;
    color: #FFFFFF !important;
    width: 100%;
}