nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 10px;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
}

nav .logo {
    max-width: 100px;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: gainsboro;
    font-size: 19px;
    font-weight: 400;
}

nav ul li a:hover {
    color: #FFFFFF;
}
.navbar-toggler:focus,
.btn:focus {
    box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e6e6e6;
}

#overlay{
    background-color: rgba(0,0,0,0.2);
    position: relative;
    text-align: center;
    color: white;
}
.centered-text{
    background-color: rgba(0,0,0,0.2);
    border-top: 10px solid orangered;
    border-bottom: 10px solid orangered;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    padding-left: 100px;
}
@media screen and (max-width: 380px){
    iframe{
        padding-left: 0;
        width:350px;
        height: 300px;
    }
}
#form{
    margin-left: auto;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 20px;
}  
input[type=text],input[type=email], textarea{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}
input[type=submit]{
    background-color: orangered;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 45%;
    cursor: pointer;
}
::placeholder{
    color:gainsboro;
}

footer {
    background: #333333;
}

footer .logo {
    max-width: 100px;
}

footer {
    color: #fff;
}

footer .subscription a,
footer .sitemap a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.2s ease;
}

footer .subscription a:hover,
footer .sitemap a:hover {
    text-decoration: underline;
    color: #fff;
}
/* #footer{
    display: flex;
   justify-content: center;
}
#footer i{
    font-size: 30px;
    color: #000;
}
footer{
    height: 100px;
    text-align: center;
}
#copyright{
    color: gray;
    font-size: 15px;
} */